n8n/workflows/eml_processing.json
{
  "name": "EML Extraction Pipeline",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/watch_folder",
        "events": ["add"],
        "options": {
          "usePolling": true
        }
      },
      "id": "trigger-file",
      "name": "Watch for EML Files",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "={{ 'cd /pipeline && python3 run.py process \"' + $json['path'] + '\"' }}"
      },
      "id": "exec-pipeline",
      "name": "Run Extraction Pipeline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-0",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $('Watch for EML Files').first().json['path'].replace('.eml', '_validation_report.json') }}"
      },
      "id": "read-report",
      "name": "Read Validation Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [960, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "filename",
              "value": "={{ $('Watch for EML Files').first().json['path'].split('/').pop() }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-summary",
      "name": "Extract Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 200]
    },
    {
      "parameters": {},
      "id": "error-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420]
    }
  ],
  "connections": {
    "Watch for EML Files": {
      "main": [
        [
          {
            "node": "Run Extraction Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Extraction Pipeline": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Read Validation Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Validation Report": {
      "main": [
        [
          {
            "node": "Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}
