n8n/workflows/eml_processing.json
{
  "name": "EML Extraction Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "/watch_folder",
        "events": ["add"],
        "options": {
          "fileExtension": ".eml",
          "awaitWriteFinish": true,
          "stabilityThreshold": 2000
        }
      },
      "id": "trigger-file",
      "name": "Watch for EML Files",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "={{ 'cd /pipeline && python3 run.py process \"' + $json.path + '\"' }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "exec-pipeline",
      "name": "Run Extraction Pipeline",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.exitCode }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "filePath": "={{ $('Run Extraction Pipeline').first().json.path.replace('.eml', '_validation_report.json') }}",
        "options": {}
      },
      "id": "read-report",
      "name": "Read Validation Report",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [960, 200],
      "notesInFlow": true,
      "notes": "Reads the validation_report.json generated by the pipeline"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "filename",
              "value": "={{ $('Watch for EML Files').first().json.path.split('/').pop() }}"
            },
            {
              "name": "recommended_model",
              "value": "={{ $json.recommended_extraction }}"
            },
            {
              "name": "confidence",
              "value": "={{ $json.overall_confidence }}"
            },
            {
              "name": "status",
              "value": "success"
            }
          ]
        },
        "options": {}
      },
      "id": "set-summary",
      "name": "Extract Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {},
      "id": "error-log",
      "name": "Log Error",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420],
      "notesInFlow": true,
      "notes": "Pipeline failed — check stderr in execution data"
    }
  ],
  "connections": {
    "Watch for EML Files": {
      "main": [
        [
          {
            "node": "Run Extraction Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Extraction Pipeline": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Read Validation Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Validation Report": {
      "main": [
        [
          {
            "node": "Extract Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {}
}
